.headerhead,footer {
    background: #00ac04 !important;
}
.navigation {
    background: #2f72b8 !important;
}
header .navigation ul#navigationPrimary li:first-child {
    background: #2f72b8 !important;
}
.tabpageBlock ul.nav-tabs > li > a.active {
    border-bottom: 2px solid #2f72b8;
}
.headings, .page_contact .page-header h1, .submission-item-block h2 {
    color: #2f72b8;
}
.btn-primary {
    color: #00ac04 !important;
}
footer a {
    color: #fff !important;
}