#headerNavigationContainer{
padding-top:125px;
background:#0f4ee9 url(https://anwardani.github.io/css-ojs3/imgs/header-momentum.jpg) top center no-repeat;
}
#nav-menu{float:left}
.container-fluid{margin:0px}
#navigationUser{padding-top:5px}
#headerNavigationContainer .container-fluid{float:left;margin-top:0px}
.site-name{display:none !important}
.navbar-default{border-color:#fff}
.navbar{border-radius:0px none !important;}
a { color: #0f4ee9; }
.btn-primary {  color: #fff; background-color: #0f4ee9; border-color: #0f4ee9; }
.panel-body, .pkp_block .content { padding: 0; }
