.pkp_block li {
    background-color: #390073;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.pkp_block.block_custom #head_custom2 {
    background-color: rgb(43, 17, 69);
    color: #fff;
    border-radius: 5px 5px 0px 0px;
    padding: 15px;
    text-align: center;
}
.pkp_block li a {
    color: white;
}
.block_make_submission .content {
    padding: 10px;
    text-align: center;
    background: #2b1145;
    border-radius: 5px;
}
body.pkp_page_index {
    background: url("");
}
.site-content {
    margin-top: 0;
    margin-bottom: 0px;
    background: #fff;
    padding-top: 20px;
    padding-left: 40px;
}
